body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    
  }
  
  .header {
    padding: 10px 10px;
    font-size: 30px;
    background-color: #fff;
    color: #cc0000;
    line-height:0em;
    position: relative;
    justify-content: center;
    align-items: left;
    text-align: center;
  }

  .subheader {
    position: sticky;
    top: 0;
    background-color: #cc0000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

 .nav {
    list-style: none;
    display: flex;
    font-size: 16px;
  }

  .nav a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  
  .nav a:hover {
    color: #000;
  }
  
  .nav li {
    margin-right: 20px;
    
  }

/* Dropdown button */
  .nav .dropdown .dropbtn{
    padding: 0px 0px;
    font-size: 16px;
    font-family: inherit;
    color: #fff;
    background-color: #cc0000;
    border: none;
    outline: none;
    display: inline-flex;
  }



/* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cc0000;
    line-height: 30px;
  }

/* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

/* footer */

  /* .footercontact {
    padding: 45px 0px;
    background-color: #B71C1C;
    color: #fff;
    font-size: .8rem;
    text-align:center;
  } */

  .footer p {
    margin: auto;
  }

  .footer {
    font-size: 12px;
    background-color: #cc0000;
    color: #fff;
    text-align: center;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    
  }

  .footerlist {
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
  }

/* //Mainbody */

.mainbody {
  background-color: #fff;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}

.mainbody-inner {
  max-width: 900px;
}

 .mainbody h1 {
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
  }
  
  .mainbody p {
    font-size: 1.18rem;
    line-height: 1.6;
  }
  

  .mainbodycontent {
    padding: 20px 120px;
    background-color: #f0f0f5;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .mainbodycontent-inner {
    max-width: 1200px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 45px;

  }

  .mainbodycontent-inner a {
  text-decoration: none;
}
  
.mainbodycontent-item{
  background-color: #fff;
  width: 300px;
  height: 500px;
  border-radius: 10px;
}

  .mainbodycontent-item h3 {
    padding: 10px 20px;
    height: 60px;
    color: #c41414;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    text-align: center;
    vertical-align:middle;
  }
  
  .mainbodycontent-item p {
    padding: 10px 20px;
    margin: 0;
    line-height: 1.6;
    color: #333;
  }
  
 






  /* Actiondirectflights.html */

  
  .formflightstitle {
    font-size: 16px;
    padding: 0.2px 20px;
    display: flex;
    background-color: #cc0000;
    color: #fff;
    display: block;
    /* justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    
  }

  .formflightsMPInputs{
    padding: 0.2px 20px;
  }

  .formflightsinputsold{
  padding: 10px 20px;
  }

  


 .buttonform{
    
    margin: 10px 100px;
    text-decoration: none;
    text-align: center;
    border-radius: 0px;
    width: 200px;
    height: 30px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid black;
  background-color: white;
  border-color: #f44336;
  color: red;
  font-size: 16px;
  cursor: pointer;
  }

.buttonform:hover {
  background: #f44336;
  color: white;
  }


.formflightsinputs input{
    margin: 10px 20px 15px 20px;
    padding: 10px;
    width: 375px;
    height: 40px;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 1px solid black;
    background-color: #ffe6e6;
    
  }
  .formflightsMPInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  

  .input1_1 {
    height: 580px;
    width: 800px;
     padding: 10px 10px; 
     display: flex;
    justify-content:space-between; 
    font-family: inherit;
    cursor: default;
   user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-touch-callout: none;
   -o-user-select: none;
    
 }

 .input1_1:focus {
   outline: none;
}


  .mpimg-div {
    margin: 10px 100px;
    display: flex;
      border: 0px;
      /* visibility: hidden; */
    }

    .mpimg {
        width: 200px;
        height: 200px;
        border: 0px;
      }

      .checkboxterms{
        line-height: 15px;
      }

      .checkboxterms .userterms{
        padding-left: 20px;
        padding-top: 0px;
        display: block;
        flex-wrap: wrap;
        width: 375px;
        font:inherit;
        font-size: 12px;
      }

      .checkboxterms .checkboxbtnlbl{
        padding: 0px 0px 0px 20px;
        width: 300px;
        display: block;
        font-size: 12px;
        
      }

      .checkboxterms input{ 
        width: 15px;
        height: 15px;
        padding: 0px;
        margin: 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
              
      }
      
      
    





